// Base Styles
*
  font-family: "Open Sans", sans-serif

body
  font-family: "Open Sans", sans-serif

h1
  font-family: "Open Sans", sans-serif
  color: black
  weight: 300
  padding: 0px 30px 0px 30px

a
  color: black
  text-decoration: none

p
  color: black
  text-decoration: none

figure
  margin: auto

hr
  margin-top: 75px
  margin-bottom: 75px
  width: 300px


  //Footer

// Contact Info
.content-footer
  position: relative
  background: #cfd2d6
  overflow: hidden
  height: 150px

  article
    padding: 25px 0px 25px 400px
    max-width: 840px
    margin: 0 auto
    text-align: left

  h6
    padding: 0px 15px 0px 75px
    margin: 0px 0px 0px 0px


  p
    padding: 0px 15px 0px 75px
    margin: 0px 0px 0px 0px

article
  padding: 0
  margin: 0 auto
  text-align: center

img
  max-width: 100%

// Social Media
.wrapper
  margin: 0 auto
  margin-top: -105px
  padding: 0px 0px 0px 0px
  height: 80px
  position: bottom
  box-sizing: border-box
  background-color: #cfd2d6


.wrapper
  body
    background: white


.wrapper
  line-height: 175px
  text-align: center


.social
  display: block
  width: 25px
  height: 25px
  margin: 0px 10px 7px 0px
  line-height: 32px
  font-family: Entypo
  font-size: 18px
  text-align: center
  color: white
  border-radius: 10px
    color: white
  overflow: hidden
  cursor: pointer
  background-color: black
